<mat-card *ngIf="proposal; else loading">
  <mat-card-title>
    {{ 'Proposal' | translate }}
  </mat-card-title>
  <mat-card-content class="table-container">
    <table>
      <tr *ngIf="proposal.bpJson?.org?.candidate_name">
        <td>{{ 'Name' | translate }}:</td>
        <td>{{proposal.bpJson.org.candidate_name}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'ID' | translate }}:</td>
        <td>#{{proposal.id}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Owner' | translate }}:</td>
        <td><a [routerLink]="['/accounts',proposal.owner]">{{proposal.owner}}</a></td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Url' | translate }}:</td>
        <td>
          <a href="{{proposal.url}}">{{proposal.url}}</a>
        </td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Proposal Name' | translate }}:</td>
        <td>{{proposal.proposal_name}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Proposal content' | translate }}:</td>
        <td style="white-space:pre-wrap;">{{proposal.proposal_content}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Fee' | translate }}:</td>
        <td>{{proposal.fee}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Create Time' | translate }}:</td>
        <td>{{proposal.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Vote Start Time' | translate }}:</td>
        <td>{{proposal.vote_starttime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'BP Vote Start Time' | translate }}:</td>
        <td>{{proposal.bp_vote_starttime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'BP Vote End Time' | translate }}:</td>
        <td>{{proposal.bp_vote_endtime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'Total Voter' | translate }}:</td>
        <td>{{proposal.total_voter}}</td>
      </tr>
      <tr *ngIf="proposal">
        <td>{{ 'BP Voter' | translate }}:</td>
        <td>{{proposal.total_bp}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
