<header fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex *ngIf="!searchExpanded">
    <button mat-icon-button fxHide.gt-sm (click)="onMenuToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="brand" routerLink="/">
      <img [src]="logoUrl" />
      <span>{{ appName | translate }}</span>
    </a>
  </div>
  <div>
    <ng-container *ngIf="!isLogged()">
        <mat-card-actions>
          <button (click)="login()" mat-raised-button color="primary" style="width: 10%" type="submit">Login</button>
        </mat-card-actions>
    </ng-container>
    <ng-container *ngIf="isLogged()">
        <mat-card-actions>
          <button (click)="logout()" mat-raised-button color="primary" style="width: 10%" type="submit">Logout</button>
        </mat-card-actions>
    </ng-container>
  </div>
  <app-search (onSearchExpanded)="searchExpanded = $event" [ngClass]="searchExpanded ? 'search-expanded' : 'search-collapsed'"></app-search>
</header>
