<mat-card *ngIf="price">
  <mat-card-title fxLayout="row" fxLayoutAlign="start center">
    <!-- <mat-icon>attach_money</mat-icon> -->
    RAM Price
  </mat-card-title>
  <mat-card-content>
    <div style="text-align: center">
      <div style="width: 600px; margin-top:20px">
          <div style="position: relative; width: 600px;">
              <canvas baseChart 
                  [datasets]="lineChartData" 
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions" 
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType" 
                  (chartClick)="chartClicked($event)">
              </canvas>
          </div>
      </div>
      <!-- <div>
          <mat-tab-group>
              <mat-tab label="Html">
                  <ngx-highlight [code]="htmlCode" lang="html"></ngx-highlight>
              </mat-tab>
              <mat-tab label="Typescript">
                  <ngx-highlight [code]="tsCode" lang="typescript"></ngx-highlight>
              </mat-tab>
          </mat-tab-group>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>
